
@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chat</h2>

<div id="messages">
    @using (Ajax.BeginForm("Chat" ,new AjaxOptions() {
        InsertionMode = InsertionMode.InsertAfter,
        HttpMethod ="POST",
        UpdateTargetId ="messages" }))
    {

    @Html.TextBox("msg")
        <input  type="submit" value="Send"/>
    }
   
</div>

