
@{
    ViewBag.Title = "index1";
    
}

<h2>Chat home page</h2>

@using (Html.BeginForm("StartChat"))
{

@Html.Label("Entrez votre nom")
@Html.TextBox("nom")
    <input type="submit" value="ENTRER"/>

}

